/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --orange: #FF9F1C;
  --lightOrange: #FFBF69;
  --turqouise: #2EC4B6;
  --teal: #CBF3F0;
}
body {
  background: var(--turqouise);
  margin: 0;
  font-family: "Poppins";
  color: #333;
}

header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

header .title {
  display: flex;
}

header .title .logo {
  margin: 20px 10px;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding-bottom: 50px;
}

.Heading {
  margin-top: 10px;
  color: white;
}

.Wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-wrap: wrap;
}

.Intro-Card, .Intro-Card2 {
  background-color: #F4F4F4; 
  border-radius: 20px; 
  width: 300px;
  height: 380px;
  padding: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 20px;
}

.Intro-Card2-Header {
  display: flex;
  align-items: center; /* Center vertically */
  margin-bottom: 10px;
}

.PersonImage {
  margin-right: 10px;
}

.Intro-Card2 p, .Intro-Card p {
  margin: 10px;
  font-size: 16px; 
  line-height: 1.5; 
  color: #333;
  text-align: justify;
}

.Intro-Card2 h3 {
  margin-left: 10px;
  font-size: 16px; 
  line-height: 1.5; 
  color: #333;
}

.Chestimage {
  margin-left: 110px;
  margin-right: 110px;
}

.button {
  margin: 20px;
}

.custom-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #955CA6;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 0.25rem;
  width: 200px; /* Adjusted for better centering */
  transition: background-color 0.2s, color 0.2s;
  font-size: 17px;
}

.custom-button:hover {
  background-color: #923095;
  color: #ffffff;
}
.Wrapper {
  display: flex;
  align-items: center; 
  margin-left: 70px;
}

// quizzes styles

.games h1 {
  font-size: 3em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap: 20px;
  width: 70%;
 margin: 100px auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1.5em;
  padding: 3%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container .item a {
  text-decoration: none;
  
  color: #333;
}

.container .item a:hover {
  color: #FF9F1C;
}